<body>
<div class="top-comment">
<h1>英大学の研究から…6分の読書で60％減！ストレス解消効果</h1>
</div>

<div class="image1">
<%= image_tag 'no-9.jpg', size: '500x500' %>
</div>

<div class="message_b">
<p>
英国サセックス大学の研究によると、たった6分間の読書でストレスレベルが約60%まで低下。<br>
そのストレス解消効果は「音楽・散歩・お茶・ゲーム」などよりはるかに大きなものでした。
</p>
</div>

<div class="image1">
<%= image_tag 'no-10.jpg', size: '500x350' %>
</div>

<div class="message_b">
<b>ストレス解消に効果的と言われる本のジャンルは・・・</b>
</div>

<div class="message_b">
<ul>
<li>・難しすぎず、興味を持てる本
</li>
<li>・好きなジャンルの本
</li>
<li>・小説などの感情移入ができる本
</li>
</ul>
</div>

<div class="image1">
<%= image_tag 'no-11.jpg', size: '500x350' %>
</div>

<div class="message_b">
<p>
読み解くのに時間のかかる難解な「新聞」などよりも<br>
感情移入のできる「小説」等の方がリラックス効果が高いという研究結果があります。
</p>
</div>

<div class="message_b">
<p>
ただし、一見難解そうな「漢詩」なども『読み慣れていて、大好き』という人にとってはリラックス効果が高いそうなので<br>
結局「好きなものを読むのがいちばん！」と言えそう。
</p>
</div>

<div class="top-comment">
<h1>読書好きは成績が高い」。小学生・中学生に学力アップの効果も</h1>
</div>

<div class="image1">
<%= image_tag 'no-12.jpg', size: '500x350' %>
</div>

<div class="message_b">
<p>
小・中学生を対象とした文部科学省の調査によると、「読書好き」な生徒は「どの学科でも成績が高い」ことがわかっています。<br>
読書が学力アップに「間接的に影響している」のだそう。
</p>
<p>
読書で身につけた「文章を理解する力」が成績アップにつながっているのかもしれません。
</p>
</div>

<div class="top-comment">
<h1>小説がおすすめ。「共感能力」「コミュニケーション能力」がUP</h1>
</div>

<div class="image1">
<%= image_tag 'no-13.jpg', size: '500x350' %>
</div>

<div class="message_b">
<p>
カーネギーメロン大学の研究者が行った研究によると、100時間の読書の後で脳をスキャンすると<br>
幼い子供たちの「読書力」と「コミュニケーション能力」がアップしているのがわかりました。
</p>
</div>

<div class="message_b">
<p>
また、読書中の脳をMRIでスキャンすると、「実際に体が動いていなくても運動を司る脳の部分が活性化する」など<br>
本の中の人物の経験を脳が「追体験」していることがわかるのだそう。
</p>
</div>

<div class="image1">
<%= image_tag 'no-14.jpg', size: '500x350' %>
</div>

<div class="message_b">
<p>
本の中の登場人物に深く感情移入し、まるで自分が主人公と同じ経験をしているかのように手に汗を握ったり<br>
怒ったり、喜んだり……。<br>
様々なキャラクターの思考を追い、「理解できないと思ってたけど、こんな思いで行動していたんだな」と感じ入ったり……。
</p>
</div>

<div class="message_b">
<p>
こうした深い集中をともなう読書は、周囲の人々への共感力を高めてくれます。特にフィクションの小説がおすすめ。
</p>
</div>

</body>