<body>
<div class="top-comment">
<h1>本は「無口で頼れる友人」</h1>
</div>
<div class="image1">
<%= image_tag 'no.1-1.png', size: '550x360' %>
</div>
<div class="message_a">
<p>
「どうしてこうなっちゃうの？」「こんな時どうすればいいの？」<br>
大人も子どもも、生きていれば悩みはつきもの。<br>
ただ、深刻な悩みほど家族や友達にも相談しづらく、尋ねにくい事も……。<br>
</p>

<p>
そんな時、ひらいた一冊の本が心を和ませ、確かな情報を与える何よりの友になってくれる事があります。
</p>
</div>

<div class="image1">
<%= image_tag 'no-2.jpg', size: '550x360' %>
</div>

<div class="message_a">
<p>
「本をひらく習慣をつける」事は、「道に迷って疲れている」時、「たった一人だ」と感じた時<br>
信頼できる友にそばに寄り添ってもらっているようなもの。
</p>
</div>

<div class="image1">
<%= image_tag 'no-3.jpg', size: '550x360' %>
</div>

<div class="second-comment">
<h1>読書が「人生の謎」を解く「鍵」になることも</h1>
</div>

<div class="message_a">
<h3>
「どうすれば？」次のステージへの扉を開く鍵
<h3>
</div>

<div class="image1">
<%= image_tag 'no-4.jpg', size: '550x360' %>
</div>

<div class="message_a">
<p>
「別の扉を開いて、次のライフステージに行きたい」「大きな壁にぶち当たっている。<br>
次はどんな行動を起こせば乗り越えられる？」
</p>
</div>

<div class="message_a">
<p>
そんな思いの時、専門家や頼りになるメンターが身近にいてアドバイスをくれたらどんなに良いでしょう。
</p>
</div>

<div class="message_a">
<p>
「でも……色々な意見を聞きながらも、最終的にはやっぱり自分で決めたい」
</p>
</div>

<div class="image1">
<%= image_tag 'no-5.jpg', size: '550x360' %>
</div>

<div class="message_a">
<p>
本なら、専門家の所見が惜しみなく、そしてわかりやすく書かれています。<br>
読み比べて取捨選択し、自分に合うものを取り入れることもできます。
</p>
</div>

<div class="message_a">
<p>
「ここから、どうやって進もう？」
</p>
</div>

<div class="message_a">
<p>
迷った時は、自分の疑問に答えてくれる本がないか探してみてください。
</p>
</div>

<div class="second-comment">
<h1>「どうして？」人生の謎を解く鍵</h1>
</div>

<div class="image1">
<%= image_tag 'no-6.jpg', size: '550x360' %>
</div>

<div class="message_a">
<p>
「なぜ、どうしてこのような問題が起きたのか？問題の真意を解き明かしたい」<br>
「自分にとってこの出来事はどんな意味があったのだろう？」
</p>
</div>

<div class="message_a">
<p>
苦しくて立ち止まってしまうような時、本が「相談相手」のようにそっと寄り添い<br>
問題を解く「鍵」となってくれることもあるはず。
</p>
</div>

<div class="image1">
<%= image_tag 'no-7.jpg', size: '550x360' %>
</div>

<div class="message_a">
<p>
似たテーマの小説や物語・自分が思い悩んでいる問題を扱っている専門家の本をひらいてみると<br>
「自分と似ている」と思えるケースが語られていて、思いがけないヒントが見つかることも。
</p>
</div>
</body>

<footer>
<div class="message_b">
<p>
それでは、下の扉を開けトップページへ戻り貴方にピッタリな本を探しに行きましょう。
</p>
</div>

<div class="image2">
<%= link_to image_tag("no-8.jpg", size: '200x124'), root_path %>
</div>
</footer>