<!DOCTYPE html>
<html>
  <head>
    <title>BookSelect></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
  <div class="nav">
<div class="title">
<h1><%= link_to "BookSelect", root_path %></h1>
</div>
</div>
</header>

  <body>
    <%= yield %>
  </body>
</html>
