<!DOCTYPE html>
<html>
  <head>
    <title>BookSelect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
  <div class="nav">
<div class="title">
<h1>BOOK SELECT</h1>
</div>
<div class="nav__right">
<%= link_to "ログイン", "#", class: :nav__btn %>
<%= link_to "新規登録", "#", class: :nav__btn %>
</div>
</div>
</header>

  <body>
    <%= yield %>
  </body>
</html>
